nav div {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

nav div:hover {
    background-color: rgb(209, 69, 69);
    color: mintcream;
}

header {
    height: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 60px;
}

#contain, #detail {
    display: flex;
    flex-direction:column;
    border:salmon 1px solid;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.ligne {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.ligne:hover {
    background-color: rgba(0, 255, 0, 0.2);
}

.classement {
    width: 30px;
    display: flex;
    justify-content: right;
}

